<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to Task Manager 🚀</h1>

    <p>If you can see this page, FastAPI and HTML are connected!</p>
        <a href="/login">Login</a><br>
        <a href="/tasks">Go to Tasks</a><br>
        <a href="/tasks/create">Create Task</a><br>
        <a href="/tasks/update">Update Task</a><br>
        <a href="/tasks/delete">Delete Task</a>

</body>
</html>
